body {
  font-family: "Chivo Mono", monospace;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  margin-top: 20px;
  padding: 40px;
  background: rgba(229, 238, 249, 0.9);
}
h1 {
  font-size: 30px;
  margin-top: 3px;
}
h2 {
  font-size: 70px;
  margin-top: 50px;
}
p {
  padding-left: 230px;
}

.units {
  font-size: 20px;
}
.units a {
  text-decoration: none;
  color: black;
}
#description {
  padding-right: 220px;
  font-size: 30px;
}
.weather-forecast {
  color: black;
  text-align: center;
}
.weather-forecast-date {
  font-size: 25px;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-temperature-min {
  opacity: 0.4;
}
.heading {
  border: none;
  word-spacing: 3px;
  font-size: 40px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
